.registro-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 6.5rem 0 2rem;      
  min-height: 80vh;
  position: relative;        
  z-index: 2;                
}

.registro-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 700px;
  background-color: #ffffff; 
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 71, 171, 0.10);
  border: 2px solid #0033a0;
  position: relative;        
  z-index: 3;                
}

.registro-izquierda {
  background-color: #e2e3e4;
  flex: 1;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
  color: #0033a0;
}

.registro-subtitulo {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.registro-titulo {
  font-size: 2rem;
  font-weight: 900;
  color: #0047AB;
}

.registro-descripcion {
  margin-top: 24px;
  font-size: 1rem;
  color: #444;
}

.registro-imagen {
  width: 200px;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.registro-derecha {
  flex: 1;
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registro-formulario-titulo {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 24px;
  color: #0033a0;
}

.registro-formulario {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;       
}

.registro-campo label {
  font-size: 0.95rem;
  font-weight: 500;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

.registro-campo input {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 260px;               
  max-width: 100%;           
  outline: none;
  transition: border 0.3s;
  background-color: #fff;
  color: #1a1a1a;
}

.registro-campo input:focus {
  border-color: #0074d9;
}

.registro-formulario button {
  background-color: #0047AB;
  color: #fff;
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 262px;           
  max-width: 100%;
}

.registro-formulario button:hover {
  background-color: #0033a0;
}

.registro-login-link {
  margin-top: 16px;
  text-align: center;
  font-size: 0.95rem;
  color: #555;
}

.registro-login-link a {
  color: #0047AB;
  text-decoration: none;
  font-weight: 500;
}

.registro-login-link a:hover {
  text-decoration: underline;
}

/* Avatares */
.registro-avatares {
  display: flex;
  gap: 20px;
  margin-top: 5px;
  flex-wrap: wrap;
}

.registro-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: transform 0.2s, border 0.2s;
}

.registro-avatar:hover {
  transform: scale(1.08);
}

.registro-avatar.seleccionado {
  border: 2px solid #0074d9;
  box-shadow: 0 0 5px #0074d9;
}